

<div class='picture-container'>
  <h1 class='boo'>33</h1>
</div>

<br>
<br>

<div class="row">
<div class="small-9 columns small-centered">
  <p> Welcome to Gallery 33! </p>

  <p class="text-block">
  This virtual gallery space is designed to encourage creativity by offering themes, deadlines, and communication with other users.  Feel free to browse our exhibitions, gather inspiration, and submit your artwork.  Our exhibition themes are chosen each month by our users and represent the thematic interests of our artist community.
  </p>

  <p> Please make sure to sign in to gain full access to the site. </p>
</div>
</div>
