<div class="row">
<div class="small-6 columns small-centered">

<h1 class='title'>Click to Browse Previous Galleries</h1>
<br>
<div>
  <ul>
    <% @galleries.each do |gallery| %>
      <% if gallery == Gallery.current_gallery %>
        <% next %>
      <% end %>

      <li class='title'>
      <%= link_to (gallery.theme), gallery_path(gallery) %>
      (<%= gallery.start_date.strftime("%B") %>
      <%= gallery.start_date.year %>)
      </li>

      <br>
    <% end %>
  </ul>
</div>

</div>
</div>
