<div class="row">
<div class="small-10 columns">

<br>
<p>At this point in time, there are no past galleries.</p>

<div>
  <% @galleries.each do |gallery| %>
    <% if gallery == Gallery.current_gallery %>
      <% next %>
    <% end %>

    <%= gallery.theme %>
    <%= gallery.start_date.month %>
    <%= gallery.start_date.year %>

    <br>
  <% end %>
</div>

</div>
</div>
