<div class="row">
<div class="small-10 columns">

<h1>At this point in time, there are no past galleries.</h1>

<div>
  <ul>
    <% @galleries.each do |gallery| %>
      <% if gallery == Gallery.current_gallery %>
        <% next %>
      <% end %>

      <li>
      <%= gallery.theme %>
      (<%= gallery.start_date.strftime("%B") %>
      <%= gallery.start_date.year %>)
      </li>

      <br>
    <% end %>
  </ul>
</div>

</div>
</div>
