<div class="row">
<div class="small-10 columns">
  <h1><%= @gallery.theme %></h1>
</div>
</div>

<div class="row">
<div class="small-12 columns">
  <ul class="small-block-grid-5">
  <% @gallery.images.each do |image| %>
    <li>
      <%= link_to (image_tag(image.submission.thumb)), gallery_image_path(@gallery, image) %>
    </li>
  <% end %>
  </ul>
</div>
</div>

<div class="row">
<div class="small-10 columns">
  <% if @gallery == Gallery.current_gallery %>
  <%= link_to 'Add an Image', new_image_path, :class => "link-margins" %>
  <% end %>
</div>
</div>
