<div class="row">
<div class="small-10 columns">
  <h1><%= @gallery.theme %></h1>
  <%= link_to 'Add an Image', new_image_path %>
</div>
</div>

<div class="row">
<div class="small-10 columns">
  <% @gallery.images.each do |image| %>
    <%= link_to (image_tag(image.submission, size: "200x200")), gallery_image_path(@gallery, image) %>
  <% end %>
</div>
</div>
