/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .picture-container {
   background-image: url("/brushes.jpg");
   background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 35vh;
  position: relative;
  margin-top: 100px;
 }

 .link-margins {
   margin-top: 25px;
   margin-bottom: 25px;
 }

 li {
   list-style-type: none;
 }

 .boo {
   font-family: 'Amiri', serif;
   letter-spacing: -50px;
   color: white;
   font-size: 29rem;
   position: absolute;
   top: -200px;
   left: 20px;
   line-height: normal;
 }

 .squish {
   line-height: 20%;
 }

 h1 {
   margin-top: 10px;
   margin-bottom: 15px;
   font-family: 'Amiri', serif;
 }


 .author-credit {
  float: right;
 }

 .title {
   text-align: center;
 }

 .centered-image {
   display: block;
 }

 .img-wrapper {
   margin: 0 auto;
   max-width: 33vmax;
 }

 .large-image {
   display: block;
 }

 .pickle {
   border-style: solid;
   border-color: #718971;
   border-width: thin;
 }

 .text-block {
   text-align: justify;
 }

 .flash {
   background-color: white;
   text-align: center;
   color: #180f0f;
   padding-top: 10px;
   padding-bottom: 10px;
 }

  input.peanut {
    margin: 0;
  }
